<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/core-ajax/core-ajax.html">

<polymer-element name="rpg-animation" attributes="currentAnimation src">
  <template>
    <style>
      :host {
        display: block;
      }

      .anchor {
        position: relative;
      }

      .clip {
        overflow: hidden;
        position: absolute;
      }

      .image {
        position: absolute;
      }
    </style>
    <div class="anchor">
      <div class="clip" style="height: {{height}}px; left: {{offsetX}}px; top: {{offsetY}}px; width: {{width}}px;">
        <img class="image" src="{{src}}" style="left: {{imageX}}px; top: {{imageY}}px;">
      </div>
    </div>
    <core-ajax auto url="{{src}}.json" handleAs="json" on-core-response="{{onSpriteMetadataLoaded}}"></core-ajax>
  </template>
  <script>
    Polymer('rpg-animation', {
      animationFrameRequestId: 0,
      animations: {
        'idle-down': {
          frames: [{
            offset: {
              x: 0,
              y: 0
            },
            rect: {
              height: 0,
              width: 0,
              x: 0,
              y: 0
            }
          }],
          msPerFrame: 1000
        }
      },
      currentAnimation: 'idle-down',
      currentFrame: 0,
      height: 0,
      imageX: 0,
      imageY: 0,
      lastUpdateTime: 0,
      offsetX: 0,
      offsetY: 0,
      src: '',
      width: 0,
      currentAnimationChanged: function() {
        this.currentFrame = 0;
      },
      currentFrameChanged: function() {
        this.height = this.animations[this.currentAnimation].frames[this.currentFrame].rect.height;
        this.offsetX = this.animations[this.currentAnimation].frames[this.currentFrame].offset.x;
        this.offsetY = this.animations[this.currentAnimation].frames[this.currentFrame].offset.y;
        this.width = this.animations[this.currentAnimation].frames[this.currentFrame].rect.width;
        this.imageX = -this.animations[this.currentAnimation].frames[this.currentFrame].rect.x;
        this.imageY = -this.animations[this.currentAnimation].frames[this.currentFrame].rect.y;
      },
      enteredView: function() {
        this.render();
      },
      leftView: function() {
        cancelAnimationFrame(this.animationFrameRequestId);
        this.animationFrameRequestId = 0;
      },
      onSpriteMetadataLoaded: function(event, response) {
        var animations = {};

        response.response.spriteBuddy.animations.animation.forEach(function (animation) {
          var name = animation.name;
          delete animation.name;
          delete animation.number;
          animation.msPerFrame = animation.speed;
          delete animation.speed;
          if (animation.frames.frame instanceof Array) {
            animation.frames = animation.frames.frame;
          }
          else {
            animation.frames = [
              animation.frames.frame
            ];
          }
          for (var i = 0; i < animation.frames.length; ++i) {
            animation.frames[i] = animation.frames[i].layers.layer;
            delete animation.frames[i].number;
          }
          animations[name] = animation;
        }, this);

        this.animations = animations;
        this.currentFrame = 0;
        this.currentFrameChanged(); 
      },
      render: function(currentTime) {
        this.animationFrameRequestId = requestAnimationFrame(this.render.bind(this));

        var delta = currentTime - this.lastUpdateTime;
        if (delta > this.animations[this.currentAnimation].msPerFrame) {
          this.lastUpdateTime = currentTime;

          this.currentFrame = (this.currentFrame + 1) % this.animations[this.currentAnimation].frames.length;
        }
      }
    });
  </script>
</polymer-element>
