<polymer-element name="rpg-scene">
    <template>
        <style>
            @host {
                :scope {
                    display: block;
                    position: relative;
                }
            }

            /* @polyfill @host :not(:first-child) */
            ::-webkit-distributed(:not(:first-child)) {
                position: absolute;
                top: 0;
                left: 0;
            }
        </style>
        <content></content>
    </template>
    <script>
        Polymer('rpg-scene');
    </script>
</polymer-element>
