<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../rpg-animated-sprite/rpg-animated-sprite.html">
<link rel="import" href="../rpg-collidable/rpg-collidable.html">
<link rel="import" href="../rpg-greatsword/rpg-greatsword.html">
<link rel="import" href="../rpg-scene/rpg-scene.html">
<link rel="import" href="../rpg-sprite-ai/rpg-player-ai.html">
<link rel="import" href="../rpg-sprite-ai/rpg-wandering-ai.html">

<polymer-element name="rpg-game" attributes="height width">
  <template>
    <style>
      :host {
        display: block;
      }

      .wrapper {
        height: 100%;
        overflow: hidden;
        position: relative;
        width: 100%;
      }

      .wrapper > * {
        left: 0;
        position: absolute;
        top: 0;
      }
    </style>
    <div class="wrapper">
      <img src="img/example-bg.png" style="-webkit-transform: translateX({{x}}px) translateY({{y}}px)">
      <rpg-scene id="scene" style="-webkit-transform: translateX({{x}}px) translateY({{y}}px)">
        <rpg-collidable height="640" width="10" x="-10" y="0"></rpg-collidable>
        <rpg-collidable height="640" width="10" x="{{sceneWidth}}" y="0"></rpg-collidable>
        <rpg-collidable height="10" width="640" x="0" y="-10"></rpg-collidable>
        <rpg-collidable height="10" width="640" x="0" y="{{sceneHeight}}"></rpg-collidable>
        <rpg-collidable height="64" width="128" x="288" y="350"></rpg-collidable>

        <rpg-greatsword x="100" y="300" pickupable></rpg-greatsword>

        <rpg-animated-sprite id="sprite-0" height="30" maxSpeed="2" src="img/Riku.png" width="30" x="100" y="100" ai="wandering"></rpg-animated-sprite>
        <rpg-animated-sprite id="player-avatar" height="30" maxSpeed="3" src="img/Riku.png" width="30" x="{{playerX}}" y="{{playerY}}" ai="player"></rpg-animated-sprite>
      </rpg-scene>
      <img src="img/example-fg.png" style="-webkit-transform: translateX({{x}}px) translateY({{y}}px)">
    </div>
    <rpg-wandering-ai></rpg-wandering-ai>
    <rpg-player-ai></rpg-player-ai>
    <rpg-inventory></rpg-inventory>
  </template>
  <script>
    Polymer('rpg-game', {
      height: 0,
      playerX: 200,
      playerY: 200,
      sceneHeight: 640,
      sceneWidth: 640,
      width: 0,
      heightChanged: function() {
        this.style.height = this.height + 'px';
        this.updateY();
      },
      onKeydown: function (event) {
        var playerAvatar = this.$['player-avatar'];
        switch (event.keyCode) {
          case 37:
          case 65:
            playerAvatar.leftStart();
            break;
          case 39:
          case 68:
            playerAvatar.rightStart();
            break;
          case 38:
          case 87:
            playerAvatar.upStart();
            break;
          case 40:
          case 83:
            playerAvatar.downStart();
            break;
          default:
            console.log(event.keyCode);
        }
      },
      onKeyup: function (event) {
        var playerAvatar = this.$['player-avatar'];
        switch (event.keyCode) {
          case 37:
          case 65:
            playerAvatar.leftStop();
            break;
          case 39:
          case 68:
            playerAvatar.rightStop();
            break;
          case 38:
          case 87:
            playerAvatar.upStop();
            break;
          case 40:
          case 83:
            playerAvatar.downStop();
            break;
          default:
            console.log(event.keyCode);
        }
      },
      playerXChanged: function() {
        this.updateX();
      },
      playerYChanged: function() {
        this.updateY();
      },
      sceneHeightChanged: function() {
        this.updateY();
      },
      sceneWidthChanged: function() {
        this.updateX();
      },
      updateX: function() {
        this.x = Math.max(this.width - this.sceneWidth, Math.min(0, this.width / 2 - this.playerX));
      },
      updateY: function() {
        this.y = Math.max(this.height - this.sceneHeight, Math.min(0, this.height / 2 - this.playerY));
      },
      widthChanged: function() {
        this.style.width = this.width + 'px';
        this.updateX();
      }
    });
  </script>
</polymer-element>
