<link rel="import" href="../rpg-animated-sprite/rpg-animated-sprite.html">
<link rel="import" href="../rpg-scene/rpg-scene.html">

<polymer-element name="rpg-game">
    <template>
        <style>
            @host {
                :scope {
                    display: block;
                    overflow: hidden;
                }
            }
        </style>
        <rpg-scene style="-webkit-transform: translateX({{x}}px) translateY({{y}}px)">
            <img src="img/example-bg.png">
            <rpg-animated-sprite id="player-avatar" x="{{playerX}}" y="{{playerY}}" maxSpeed="3" src="img/Riku.png"></rpg-animated-sprite>
            <!--<img src="img/example-fg.png">-->
        </rpg-scene>
    </template>
    <script>
        Polymer('rpg-game', {
            height: 300,
            playerX: 200,
            playerY: 200,
            width: 400,
            get x() {
                return this.width / 2 - this.playerX;
            },
            get y() {
                return this.height / 2 - this.playerY;
            },
            heightChanged: function() {
                this.style.height = this.height + 'px';
            },
            widthChanged: function() {
                this.style.width = this.width + 'px';
            },
            onKeydown: function (event) {
                var playerAvatar = this.$['player-avatar'];
                switch (event.keyCode) {
                    case 37:
                    case 65:
                        playerAvatar.leftStart();
                        break;
                    case 39:
                    case 68:
                        playerAvatar.rightStart();
                        break;
                    case 38:
                    case 87:
                        playerAvatar.upStart();
                        break;
                    case 40:
                    case 83:
                        playerAvatar.downStart();
                        break;
                    default:
                        console.log(event.keyCode);
                }
            },
            onKeyup: function (event) {
                var playerAvatar = this.$['player-avatar'];
                switch (event.keyCode) {
                    case 37:
                    case 65:
                        playerAvatar.leftStop();
                        break;
                    case 39:
                    case 68:
                        playerAvatar.rightStop();
                        break;
                    case 38:
                    case 87:
                        playerAvatar.upStop();
                        break;
                    case 40:
                    case 83:
                        playerAvatar.downStop();
                        break;
                    default:
                        console.log(event.keyCode);
                }
            },
            render: function(currentTime) {
                this.$['player-avatar'].render(currentTime);
            }
        });
    </script>
</polymer-element>
