<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="rpg-collidable.html">

<polymer-element name="rpg-sprite" extends="rpg-collidable" attributes="maxSpeed">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <shadow></shadow>
  </template>
  <script>
    Polymer('rpg-sprite', {
      animationFrameRequestId: 0,
      direction: 'down',
      maxSpeed: 1,
      velocityX: 0,
      velocityY: 0,
      velocityXChanged: function() {
        var horizontal = (this.velocityX < 0) ? 'left' : ((this.velocityX > 0) ? 'right' : '');
        var vertical = (this.velocityY < 0) ? 'up' : ((this.velocityY > 0) ? 'down' : '');
        this.direction = horizontal + vertical;
      },
      velocityYChanged: function() {
        this.velocityXChanged();
      },
      downStart: function() {
        this.velocityY = this.maxSpeed;
      },
      downStop: function() {
        this.velocityY = Math.min(this.velocityY, 0);
      },
      enteredView: function() {
        this.render();
      },
      leftStart: function() {
        this.velocityX = -this.maxSpeed;
      },
      leftStop: function() {
        this.velocityX = Math.max(this.velocityX, 0);
      },
      leftView: function() {
        cancelAnimationFrame(this.animationFrameRequestId);
        this.animationFrameRequestId = 0;
      },
      render: function(currentTime) {
        this.animationFrameRequestId = requestAnimationFrame(this.render.bind(this));

        this.x = this.x + this.velocityX;
        this.y = this.y + this.velocityY;
      },
      rightStart: function() {
        this.velocityX = this.maxSpeed;
      },
      rightStop: function() {
        this.velocityX = Math.min(this.velocityX, 0);
      },
      stop: function() {
        this.velocityX = 0;
        this.velocityY = 0;
      },
      upStart: function() {
        this.velocityY = -this.maxSpeed;
      },
      upStop: function() {
        this.velocityY = Math.max(this.velocityY, 0);
      },
      yChanged: function() {
        this.super();
        this.style.zIndex = this.y;
      }
    });
  </script>
</polymer-element>
