<link rel="import" href="../bower_components/polymer/polymer.html">

<polymer-element name="rpg-scene">
  <template>
    <style>
      :host {
        display: block;
        position: relative;
      }

      /* @polyfill :host > :not(:first-child) */
      ::content > :not(:first-child) {
        position: absolute;
        top: 0;
        left: 0;
      }
    </style>
    <content id="content"></content>
  </template>
  <script>
    Polymer('rpg-scene', {
      animationFrameRequestId: 0,
      enteredView: function() {
        this.animationFrameRequestId = requestAnimationFrame(this.render.bind(this));
      },
      leftView: function() {
        cancelAnimationFrame(this.animationFrameRequestId);
        this.animationFrameRequestId = 0;
      },
      render: function(currentTime) {
        this.animationFrameRequestId = requestAnimationFrame(this.render.bind(this));

        var distributedNodes = this.$.content.getDistributedNodes();
        var collidables = Array.prototype.filter.call(distributedNodes, function(element) {
          return element.intersectsWith;
        });
        var mobiles = Array.prototype.filter.call(distributedNodes, function(element) {
          return element.velocityX || element.velocityY;
        });

        mobiles.forEach(function (a) {
          collidables.forEach(function (b) {
            if (a != b && a.intersectsWith(b)) {
              var signX = a.x > b.x ? 1 : -1;
              var signY = a.y > b.y ? 1 : -1;

              var intersectionWidth = Math.min(a.x + a.width, b.x + b.width) - Math.max(a.x, b.x) + 1;
              var intersectionHeight = Math.min(a.y + a.height, b.y + b.height) - Math.max(a.y, b.y) + 1;

              if (Math.abs(intersectionWidth) < Math.abs(intersectionHeight)) {
                a.x += intersectionWidth * signX;
              }
              else if (Math.abs(intersectionHeight) < Math.abs(intersectionWidth)) {
                a.y += intersectionHeight * signY;
              }
              else {
                a.x += intersectionWidth * signX;
                a.y += intersectionHeight * signY;
              }

              a.fire('collision', {other: b});
              b.fire('collision', {other: a});
            }
          });
        });
      }
    });
  </script>
</polymer-element>
