<link rel="import" href="../../bower_components/polymer/polymer.html">

<polymer-element name="rpg-wandering-ai">
  <script>
    (function() {
      function getRandomInt(max) {
        return Math.floor(Math.random() * (max + 1));
      }

      function move() {
        var direction = getRandomInt(3);
        switch(direction) {
          case 0:
            this.rightStart();
            break;
          case 1:
            this.leftStart();
            break;
          case 2:
            this.upStart();
            break;
          case 3:
            this.downStart();
            break;
        }
        nextAction(this, stop, 500);
      }

      function stop() {
        this.stop();
        nextAction(this, move, 4000);
      }

      function clearNextAction(element) {
        clearTimeout(element.nextActionTimeoutId);
      }

      function nextAction(element, action, delay) {
        element.nextActionTimeoutId = setTimeout(action.bind(element), delay);
      }

      Polymer('rpg-wandering-ai', {
        enteredView: function() {
          this.parentNode.querySelectorAll('[ai=wandering]').array().forEach(function(element) {
            nextAction(element, move, 3000);
            element.addEventListener('collision', function(event) {
              if (this.velocityX || this.velocityY) {
                clearNextAction(element);
                stop.bind(this)();
              }
            }.bind(element));
          });
        }
      });
    })();
  </script>
</polymer-element>
