<link rel="import" href="../../bower_components/polymer/polymer.html">

<polymer-element name="rpg-player-ai">
  <script>
    Polymer('rpg-player-ai', {
      clearNearby: function() {
        this.nearbyPickupable = null;
        this.nearbyTalkable = null;
      },
      enteredView: function() {
        this.inventory = this.parentNode.getElementsByTagName('rpg-inventory')[0];
        this.player = this.parentNode.querySelectorAll('[ai=player]')[0];

        this.player.addEventListener('collision', function(event) {
          var other = event.detail.other;

          if (other && other.getAttribute('talkable') === "") {
            this.nearbyTalkable = other;
          }
          else if (other && other.getAttribute('pickupable') === "") {
            this.nearbyPickupable = other;
          }
        }.bind(this));

        document.body.addEventListener('keydown', this.onKeydown.bind(this));
        document.body.addEventListener('keyup', this.onKeyup.bind(this));
      },
      onKeydown: function (event) {
        switch (event.keyCode) {
          case 37:
          case 65:
            this.clearNearby();
            this.player.leftStart();
            break;
          case 39:
          case 68:
            this.clearNearby();
            this.player.rightStart();
            break;
          case 38:
          case 87:
            this.clearNearby();
            this.player.upStart();
            break;
          case 40:
          case 83:
            this.clearNearby();
            this.player.downStart();
            break;
          case 32: // Spacebar
            if (this.nearbyTalkable) {
              this.talkWith(this.nearbyTalkable);
            }
            if (this.nearbyPickupable) {
              this.pickup(this.nearbyPickupable);
              this.nearbyPickupable = null;
            }
            break;
        }
      },
      onKeyup: function (event) {
        switch (event.keyCode) {
          case 37:
          case 65:
            this.player.leftStop();
            break;
          case 39:
          case 68:
            this.player.rightStop();
            break;
          case 38:
          case 87:
            this.player.upStop();
            break;
          case 40:
          case 83:
            this.player.downStop();
            break;
        }
      },
      pickup: function(pickupable) {
        this.inventory.appendChild(pickupable);
        pickupable.x = 0;
        pickupable.y = 0;
      },
      talkWith: function(talkable) {
        console.log("Hi! I'm ", talkable);
      }
    });
  </script>
</polymer-element>
