<link rel="import" href="../polymer-ajax/polymer-ajax.html">

<polymer-element name="rpg-sprite" attributes="height maxSpeed width x y">
    <template>
        <style>
            @host {
                :scope {
                    display: block;
                }
            }
        </style>
        <content></content>
    </template>
    <script>
        Polymer('rpg-sprite', {
            height: 0,
            maxSpeed: 1,
            velocityX: 0,
            velocityY: 0,
            width: 0,
            x: 0,
            y: 0,
            get direction() {
                var horizontal = (this.velocityX < 0) ? 'left' : ((this.velocityX > 0) ? 'right' : '');
                var vertical = (this.velocityY < 0) ? 'up' : ((this.velocityY > 0) ? 'down' : '');
                return horizontal + vertical;
            },
            downStart: function() {
                this.velocityY = this.maxSpeed;
            },
            downStop: function() {
                this.velocityY = Math.min(this.velocityY, 0);
            },
            goTo: function(x, y) {
                this.x = x;
                this.y = y;
            },
            heightChanged: function() {
                this.style.height = this.height + 'px';
            },
            leftStart: function() {
                this.velocityX = -this.maxSpeed;
            },
            leftStop: function() {
                this.velocityX = Math.max(this.velocityX, 0);
            },
            prerender: function(currentTime) {
                this.x = this.x + this.velocityX;
                this.y = this.y + this.velocityY;
            },
            rightStart: function() {
                this.velocityX = this.maxSpeed;
            },
            rightStop: function() {
                this.velocityX = Math.min(this.velocityX, 0);
            },
            ready: function() {
                this.velocity = {
                    x: 0,
                    y: 0
                };
            },
            upStart: function() {
                this.velocityY = -this.maxSpeed;
            },
            upStop: function() {
                this.velocityY = Math.max(this.velocityY, 0);
            },
            widthChanged: function() {
                this.style.width = this.width + 'px';
            },
            xChanged: function() {
                this.style.webkitTransform = 'translateX(' + this.x + 'px) translateY(' + this.y + 'px)';
            },
            yChanged: function() {
                this.style.webkitTransform = 'translateX(' + this.x + 'px) translateY(' + this.y + 'px)';
            }
        });
    </script>
</polymer-element>
