<link rel="import" href="../polymer-ajax/polymer-ajax.html">

<polymer-element name="rpg-sprite" attributes="maxSpeed x y">
    <template>
        <style>
            @host {
                :scope {
                    display: block;
                }
            }
        </style>
        <content></content>
    </template>
    <script>
        Polymer('rpg-sprite', {
            maxSpeed: 1,
            velocity: null,
            x: 0,
            y: 0,
            downStart: function() {
                this.velocity.y = this.maxSpeed;
            },
            downStop: function() {
                this.velocity.y = Math.min(this.velocity.y, 0);
            },
            goTo: function(x, y) {
                this.x = x;
                this.y = y;
            },
            leftStart: function() {
                this.velocity.x = -this.maxSpeed;
            },
            leftStop: function() {
                this.velocity.x = Math.max(this.velocity.x, 0);
            },
            render: function() {
                this.x = Math.max(0, this.x + this.velocity.x);
                this.y = Math.max(0, this.y + this.velocity.y);
            },
            rightStart: function() {
                this.velocity.x = this.maxSpeed;
            },
            rightStop: function() {
                this.velocity.x = Math.min(this.velocity.x, 0);
            },
            ready: function() {
                this.velocity = {
                    x: 0,
                    y: 0
                };
            },
            upStart: function() {
                this.velocity.y = -this.maxSpeed;
            },
            upStop: function() {
                this.velocity.y = Math.max(this.velocity.y, 0);
            },
            xChanged: function() {
                this.style.webkitTransform = 'translateX(' + this.x + 'px) translateY(' + this.y + 'px)';
            },
            yChanged: function() {
                this.style.webkitTransform = 'translateX(' + this.x + 'px) translateY(' + this.y + 'px)';
            }
        });
    </script>
</polymer-element>
