<link rel="import" href="../polymer-ajax/polymer-ajax.html">

<polymer-element name="rpg-sprite" attributes="maxSpeed x y">
    <template>
        <style>
            @host {
                :scope {
                    display: block;
                }
            }
        </style>
        <content></content>
    </template>
    <script>
        Polymer('rpg-sprite', {
            maxSpeed: 1,
            velocityX: 0,
            velocityY: 0,
            x: 0,
            y: 0,
            downStart: function() {
                this.velocityY = this.maxSpeed;
            },
            downStop: function() {
                this.velocityY = Math.min(this.velocityY, 0);
            },
            goTo: function(x, y) {
                this.x = x;
                this.y = y;
            },
            leftStart: function() {
                this.velocityX = -this.maxSpeed;
            },
            leftStop: function() {
                this.velocityX = Math.max(this.velocityX, 0);
            },
            render: function(currentTime) {
                this.x = Math.max(0, this.x + this.velocityX);
                this.y = Math.max(0, this.y + this.velocityY);
            },
            rightStart: function() {
                this.velocityX = this.maxSpeed;
            },
            rightStop: function() {
                this.velocityX = Math.min(this.velocityX, 0);
            },
            ready: function() {
                this.velocity = {
                    x: 0,
                    y: 0
                };
            },
            upStart: function() {
                this.velocityY = -this.maxSpeed;
            },
            upStop: function() {
                this.velocityY = Math.max(this.velocityY, 0);
            },
            xChanged: function() {
                this.style.webkitTransform = 'translateX(' + this.x + 'px) translateY(' + this.y + 'px)';
            },
            yChanged: function() {
                this.style.webkitTransform = 'translateX(' + this.x + 'px) translateY(' + this.y + 'px)';
            }
        });
    </script>
</polymer-element>
